.container {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(20, 40px); /* Adjust the number of columns as needed */
      /* column-gap:1px; */
      row-gap:15px;
      background-color: black;
    }

.square {
      background-color: rgb(29, 29, 29);
      width: 25px;
      height: 25px;
      transition: background-color 1s ease; /* Smooth transition effect */
    }

.square:hover {
      background-color: lightblue; /* Change the color on hover */
    }